.shelf-grid {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
    top: 203px;
    left: 50px;
    padding: 0;
    margin: 0;

    filter: drop-shadow(-30px 5px 20px #0000009d);
}

.shelf-grid--2 {
    top: 642px;
}

.shelf-grid__image-container {
    position: relative;
    margin-left: -32px;

    filter: drop-shadow(0px 0px 25px #000000);
}

.shelf-grid__image-container__cartridge-image {
    width: auto;
    height: 350px;

    object-fit: cover;
    
    cursor: pointer;

    transition: 0.5s filter ease-in-out;
}

.shelf-grid__image-container__project-image {
    position: absolute;
    top: 140px;
    left: -42px;

    width: 200px;
    /* visually the height */
    height: auto;
    max-height: 35px;
    /* visually the width */

    object-fit: contain;

    transition: 0.15s transform ease-in-out, 0.5s filter ease-in-out;
    transform: translate(0px, 0px) rotateY(0deg) rotate(-90deg);
    filter: drop-shadow(0px 0px 2px #000000);

    pointer-events: none;
}

.shelf-grid__image-container__project-text {
    position: absolute;
    left: -45px;

    color: white;

    font-family: RobotoMedium;
    font-size: 20px;
    text-align: center;

    pointer-events: none;
}

.project-image--skew {
    transform: translate(-35px, 0px) rotateY(-20deg) rotate(-90deg);
}