.james-text-switch-button {
    width: 25px;

    position: absolute;
    top: 45%;
    left: 50%;

    cursor: pointer;

    transition: opacity 0.5s ease-in-out;

    opacity: 0;
}


.james-text-switch-button--show {
    opacity: 1;
}

.james-text-switch-button--left {
    transform: translate(-1200%, 0%) scaleX(-1);
}

.james-text-switch-button--right {
    transform: translate(1100%, 0%);
}

.james-text-switch-button-reveal-area {
    /* background-color: white;
    opacity: 0.5; */

    width: 250px;
    height: 200px;

    position: absolute;
    left: 50%;
    top: 45%;

    cursor: url("../../../../common/assets/images/cursors/pointer.png"), pointer;
}

.james-text-switch-button-reveal-area--left {
    transform: translate(-125%, -50%);
}

.james-text-switch-button-reveal-area--right {
    transform: translate(25%, -50%);
}