.enter-text__label {
    position: absolute;
    top: 42vw;
    left: 20.1vw;

    color: rgb(238, 231, 231);

    font-size: 2vw;
    font-family: BitCell;

    cursor: url("../../../common/assets/images/cursors/default.png"), default;

    mix-blend-mode: difference;
}

.enter-text__input {
    position: absolute;
    top: 44vw;
    left: 20vw;

    color: rgb(238, 231, 231);
    background-color: black;
    border: 0.3vw solid rgb(31, 31, 31);

    font-size: 3vw;
    font-family: BitCell;

    cursor: url("../../../common/assets/images/cursors/pointer.png"), pointer;

    outline: none;
}

a {
    color: rgb(255, 173, 214);
}

a:hover {
    color: rgb(134, 107, 255);
}

a:active {
    color: rgb(188, 173, 255);
}